*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header1 {
    background-image: linear-gradient(90deg, rgb(8 8 8 / 74%), rgb(11 11 11 / 55%)), url('https://thumbs.dreamstime.com/b/ready-summer-vacation-travel-background-d-rendering-114574299.jpg?w=992');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    width: auto;

    min-height: 550px;
    /* position: relative; */
}


.text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.text-box h1 {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
}

.text-box p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    /* margin: 1px 1px; */
    font-size: 120px;
    padding-left: 20px;
    color: rgb(255, 213, 0);
}
.text-box span{
    font-family: "Itim", cursive;

    font-size: 40px;
    padding-left: 10px;
}
.text-box .name{
    color: rgb(255, 213, 0);
    font-family: "Pacifico", cursive;

    font-size: 70px;
    font-weight: 700;
    font-style: normal;
}

.visit-btn {
    text-decoration: none;
    color: white;
    display: inline-block;
    border: 2px solid #fcfcfc;
    border-radius: 20px;
    padding: 13px 25px;
    background: transparent;
    position: relative;
    top: 60px;
    left: 100px;
    font-size: larger;

}

.visit-btn:hover {
    border: 0;
    border: 2px solid rgb(255, 213, 0);

    background: rgb(255, 213, 0);
    transition: .6s;
    color: black;
}
.box{
    background-color: blanchedalmond;
    width: 330px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
}
input{
    width: 240px;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;

}
.logo{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    gap: 0.625rem;

}
.logo-icon{
    height: 3rem;
    width: 3rem;

}

.logo-text{
    font-size: 2rem;
}

.nav{
    gap: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.nav-link{
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
    transform: color 0.1s;
    gap: 5rem;
   
}

.nav-link:hover{
    color:blue;
}

.contact-button{
    border: none;
    border-radius: 0.375rem;
    background-color: blue;
    color: white;
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.header-content{
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    align-items: center;
    padding: 1rem;
}

@media screen and (min-width:788px){
    .contact-button{
        display: block;
    }
}
.contact-button:hover{
    background-color: #5254f8;

}
.menu-button{
    display: none;
    border: none;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: white;
    padding: 0.5rem 0.9rem;
}
@media screen and (max-width:788px){
    .menu-button{
        display: block;
    }
}
.menu-icon{
    height: 1.5rem;
    width: 1.5rem;
}

.main-section img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1250px;
    height: 550px;
    border: 1px solid rgb(158, 224, 222);
    border-radius: 2%;
}
.new-section{
    border: 1px solid yellow;
    border-radius: 10px;
    background-color: rgb(255, 213, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    width: 1250px;
    height: 75px;
    margin-top: 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.242);


}

.left{
    font-size: 35px;
    padding-top: 9px;
    


  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.box1{
    background-color: blanchedalmond;
    width: 430px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 24px;
    
}
.right{
    padding-top: 9px;
}

@media (max-width:680px) {
    .box{
        display: none;
    }
    .logo-icon{
        display: none;
    }
    .nav-link{
        display: flex;
        justify-content: left;
    }
    .new-section{
        display: flex;
        flex-direction: column;
        margin: auto;
    }
}







